.body {
  font-family: sahel, sans-serif;
}

.wallet {
  position: absolute;
  left: 50px;
  margin-left: 30px;
  color: white;
}

.wallet .dropdown-menu {
  right: auto !important;
}

.accountInfoIcon {
  color: white;
}

.AccountInfo {
  position: absolute;
  left: 0px;
  margin-left: 85px;
}

.AccountInfo .dropdown-menu {
  right: auto !important;
}

/* .search1 {
    position: absolute;
    left: 98px;
} */

.footer {
  margin-top: 20px;
}

.orderList {
  margin: auto;
  /* margin: 5px; */
  /* margin-top: 12px; */
  text-align: center;
  vertical-align: middle;

  /* height: 40px; */
}

.ordercount {
  left: 29px;
  position: absolute;
}

.container-fluid {
  max-width: 1500px !important;
  width: 90%;
}

.left-navbar {
  position: absolute;
  direction: ltr;
  /* padding-top: 15px; */
}

.input-group {
  direction: rtl;
}

.nav-item {
  margin-left: auto !important;
}

.shopping-cart {
  border-right: 1px white dotted;
  margin-right: 5px;
  padding-right: 15px;
}

.signin {
  border: 1px white solid;
  border-radius: 8px;
  margin-left: 5px !important;
  font-size: 80%;
  color: white !important;
}

.signin>a>i {
  padding-left: 7px;
}

#dropdownMenuLink {
  color: white;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  padding-right: 5px !important;
}

.body-content {
  border-top: 2px rgb(174, 174, 174) solid;
  padding-top: 10px;
  margin: auto !important;
}

.navbar {
  margin-bottom: 0px !important;
}

.dropdown-item {
  padding: 0 15px 5px 15px;
}

.dropdown-item>div {
  padding: 0 0px 2px 15px;
}

.navbar-nav {
  align-items: center;
}

.sticky-top {
  right: 0;
  left: 0;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.avatar-currency {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
}

.dropdown-menu {
  min-width: 270px;
  font-size: 16px;
  border-radius: 5px;
  right: auto !important;
}

.fa-chevron-left {
  vertical-align: text-bottom;
}

.wallet-icon {
  padding: 0px 5px 0px 5px;
}

.wallet-balance {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.303);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  animation: 1s cubic-bezier(0.4, 0, 0, 1.5) 0s 1 normal forwards running cdxymQ;
}

.popup-outside {
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
}

.popup .show {
  visibility: visible;
}

.table-container {
  display: flex;
  margin: 10px;
  margin-top: 30px;
  white-space: nowrap;
}

.table-1 {
  margin-left: 15px
}