.body {
    font-family: sahel, sans-serif;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 20px;
    max-width: 500px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

@media (min-width: 2700px) {
    .form {
        max-width: 500px;
    }
}

@media (max-width: 1500px) {
    .form {
        max-width: 400px;
    }
}

.active {
    display: none;
}

.form>div:first-child {
    text-align: center;
    background-color: rgb(52, 58, 64);
    margin: -16px -16px 5px -16px;
    padding: 10px 0 10px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form>div:nth-child(2) {
    padding: 5px 5px 0 0;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.12;
}

.form>form {
    padding-top: 10px;
    text-align: right;
}

.login-button {
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

.signup {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.rememberme-label {
    margin-right: 25px;
}

input.mail {
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

/* This is our style for the invalid fields */
input.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus.invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    font-weight: bold;
    display: none;
    width: 80%;
    padding: 1px;
    margin: 5px 5px auto auto;
    color: rgb(255, 0, 0);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    font-size: 80%;
}

label {
    margin-right: 5px;
}
